/.metadata/
/.recommenders/
/.xd/
/output/
/Servers*/
/python/
/RemoteSystemsTempFiles/
*.log
/drumbeat-jython/
/drumbeat-rdf.modelfactory*/
/RemoteSystemsTempFiles/
/drumbeat-ifc.convert.ifc2ld.web (old)*/